@import "../node_modules/picnic/picnic.min.css";

nav{
    background: url('/src/media/header.png') center center no-repeat;
    position: relative;
}

nav span{
    color: white;
}

.card{
    margin: 5px;
    background-color: #E2ECED;
    box-shadow: 4px 4px 2px rgba(1, 1, 1, 0.2);
}
.card.repo_stats_card{
    color: white;
}

select{
    background-color: #E2ECED;
}

.chart_container{
    max-width: 850px;
}

.chartCard{
    min-height: 100px; 
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
}

.total_stars{
    background: url('src/media/star2.png') no-repeat right;
    background-size: 40%;
}

.total_forks{
    background: url('src/media/fork-black-trans.png') no-repeat right ;
}

.total_contribs{
    background: url('src/media/person-trans.png') no-repeat right;
}

.repo_stats_card{
    background-color: #0078C1;
}
.repo_stats_card span{
    font-size: 2.5rem;
}


body{margin:0;padding:0;}

#loadingPanel {
    z-index: 10;
    left:0;
    position: absolute;
    width:100%;    
    height: 100%;
    background-color: #0078C1;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 35rem;  
}

.loadingDone{
    -webkit-animation-name: slideOut;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.5s;   
    animation-name: slideOut;
    animation-iteration-count: once;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slideOut {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -200%;
    }
}

@-webkit-keyframes slideOut {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -200%;
    }
}