@import "../node_modules/picnic/picnic.min.css";

nav{
    /*background-color: darkblue;*/
    background: url('http://mundipagg.com/images/zendesk_icons/header.png') center center no-repeat;
    position: relative;
}

nav span{
    color: white;
}

.card{
    margin: 10px;
    background-color: #E2ECED;
    box-shadow: 4px 4px 2px rgba(1, 1, 1, 0.2);
}

select{
    background-color: #E2ECED;
    /*margin: 10px 10px 10px 10px;*/
    /*border-right: 10px;*/
}