@import "../node_modules/picnic/picnic.min.css";

nav{
    /*background-color: darkblue;*/
    background: url('/src/media/header.png') center center no-repeat;
    position: relative;
}

nav span{
    color: white;
}

.card{
    margin: 10px;
    background-color: #E2ECED;
    box-shadow: 4px 4px 2px rgba(1, 1, 1, 0.2);
}

select{
    background-color: #E2ECED;
    /*margin: 10px 10px 10px 10px;*/
    /*border-right: 10px;*/
}

.chart_container{
    width: 600px;
}

.total_stars{
    background: url('src/media/star2.png') no-repeat right;
    background-size: 40%;
}

.total_forks{
    background: url('src/media/fork-black-trans.png') no-repeat right ;
}

.total_contribs{
    background: url('src/media/person-trans.png') no-repeat right;
}

.repo_stats_card{
    background-color: #0078C1;
}
.repo_stats_card span{
    font-size: 4rem;
}